:root {
  --MyBlue: #86b2defb;
  --LightMyBlue: #c7daee;
  --fontColor: #24305e;
  --MyTeal:#03305a;
  --myOrange:#f87e49;

}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-family:'Playfair Display', serif;
}
.navbar a {
  padding-left: 1em;
  margin-top: 3em;
  margin-right: 5em;
  text-decoration: none;
}
a {
  color: var(--fontColor);
}
a:hover {
  color: var(--myOrange);
}
span {
  color: var(--myOrange);
}

.intro {
  margin-left: 1em;
  margin-bottom: 1em;
  color: var(--fontColor);
  font-family: 'Playfair Display', serif;
}

.headingAboutMe {
  text-align: center;
  background-image:url(./photos/blueGradient.png) ;
  background-position: bottom center;
  padding: 4em;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
 border-radius: 2em;
 font-family:'Playfair Display', serif;;
}
.profileImage {
  height: 15em;
  border-radius: 100%;
}

.mySkills {
  text-align: center;
  padding: 4em;
  color: var(--fontColor);
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
}
.skillListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--fontColor);
  font-family: 'Playfair Display', serif;
}
.skillList {
  margin-top: 3em;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.5em;
  padding-right: 2em;
}
.skillList::before {
  content: "❖";
  color: var(--myOrange);
  padding: 1em;
}
.skillsP{
  font-size: 1.25em;
}
.work {
  text-align: center;
  padding: 4em;
  color: var(--fontColor);
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  

}
.workContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  font-family: 'Playfair Display', serif;
 
}

.Imgradius {
  border: 3px solid var(--fontColor);
  border-radius: 20%;
  margin-bottom: 0em;
}
.Imgradius:hover {
  opacity: 0.7;
}

.contacts {
  display: flex;
  margin-top: 8em;
  padding-right: 10em;
  justify-content: flex-end;
}
.contactList {
  padding-left: 1em;
  margin-top: 3em;
  margin-right: 1em;
}
.Back {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
}

/*media query*/
 @media screen and (max-width: 1100px) {
  .contacts{
      justify-content: center;
      padding-right: 0px;
  }
} 
@media screen and (max-width: 650px) {
    .navbar{
        justify-content: center;
        padding-left: 0em;
        margin-top: 3em;
        margin-left: 7em;
    }
    .skillListContainer{
        justify-content: center;
        margin: 0em;
    }
    .headingAboutMe{
      background-image: none;
      background-color: var(--MyTeal);
      background-position: top center;
    }
  } 

