:root {
  --MyBlue: #86b2de;
  --LightMyBlue: #c7daee;
  --fontColor: #24305e;
}
* {
  /* border: red 1px solid; */
  /* box-sizing: border-box; */
}
.navbar {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  margin-left: 5em;
  align-items: flex-start;
}
.navbar a {
  padding-left: 1em;
  margin-top: 3em;
  margin-right: 5em;
  text-decoration: none;
}
a {
  color: var(--fontColor);
}
a:hover {
  color: var(--MyBlue);
}
span {
  color: var(--MyBlue);
}

.intro {
  margin-left: 4em;
  margin-bottom: 1em;
  color: var(--fontColor);
}

.headingAboutMe {
  text-align: center;
  background-color: var(--LightMyBlue);
  padding: 4em;
  color: var(--fontColor);
  font-size: 1.25em;
  /* border-top-left-radius: 20rem; */
}
.profileImage {
  height: 15em;
  border-radius: 100%;
}
.mySkills {
  text-align: center;
  padding: 4em;
  color: var(--fontColor);

  font-size: 1.25em;
}
.skillListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: var(--fontColor);
}
.skillList {
  margin-top: 3em;
  list-style-type: none;
}
.skillList::before {
  content: "❖";
  color: var(--MyBlue);
  padding: 2em;
}
.work {
  /* width: 100%; */
  text-align: center;
  padding: 4em;
  color: var(--fontColor);
  font-size: 1.25em;
}
.workContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.borderColor {
  border: 3px solid var(--fontColor);
  border-radius: 20%;
}
.Imgradius {
  border-radius: 20%;
}
.Imgradius:hover {
  opacity: 0.7;
}

.contacts {
  display: flex;
  margin-top: 8em;
  padding-right: 10em;
  justify-content: flex-end;
}
.contactList {
  padding-left: 1em;
  margin-top: 3em;
  margin-right: 1em;
}
.Back {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/*media query*/
/* @media screen and (max-width: 960px) {
  .skillListContainer {
  }
} */

